html {
  font-size: large;
}

body {
  margin: 0;
  overflow: hidden;
  display: block;
  font-family: 'Helvetica Neue',
    sans-serif;
  color: #444;
  background: #022c40;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
