html {
  font-size: 30px;
}

body {
  margin: 2;
  overflow: hidden;
  display: block;
  font-family: 'Helvetica Neue',
    sans-serif;
  color: white;
  background: #022c40;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
